/* Error: Undefined variable.
 *    ,
 * 20 |   @return ($u/$baseSize) + rem;
 *    |               ^^^^^^^^^
 *    '
 *   scss/common/_mixin.scss 20:15                rem()
 *   scss/common/_mixin.scss 26:9                 unit()
 *   scss/src/b_03_scss_mixin_function.scss 14:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 20 \2502    @return ($u/$baseSize) + rem;\a    \2502                ^^^^^^^^^\a    \2575 \a   scss/common/_mixin.scss 20:15                rem()\a   scss/common/_mixin.scss 26:9                 unit()\a   scss/src/b_03_scss_mixin_function.scss 14:3  root stylesheet";
}
