@charset "UTF-8 ";
/* b_06_nth.css 8*/

.ex {
  width: 80%; height: auto;
  margin: auto; padding: 20px;
  border: 1px solid #333; 
}

ul {
  background-color: #eee;
}

ul li { margin-bottom: 5px; padding: 3px 0;}
ul li:first-child {background-color: #adf;}
/* 1st 2nd 3rd 4th 5th 6th */
ul li:nth-child(1) { color: #f07;}
ul li:nth-child(2) { color: #0f7;}
ul li:nth-child(5) { border-bottom: 1px solid #5ac;}
/* solid설정이 bottom에만 주어져서 언더바처럼보임  */
ul li:last-child { margin-bottom: 0;}
ul li:nth-last-child(1) { background-color: #add;}
ul li:nth-last-child(3) { background-color: #a6d;}
ul li:nth-child(2n) { text-indent:20px;}
ul li:nth-child(2n-1) { text-indent: 50px;}

ul li:nth-child(4n){ font-size: 20px;}
/* 4번째마다 글씨사이즈 20px */
ul li:nth-child(4n-2){ text-transform: uppercase; font-weight: bold;}
/* uppercase: 글씨 두껍게???  */
ul li:nth-child(n+4):nth-child(-n+8) { 
  background-image: linear-gradient(45deg, #fac, #adf);
}
/* 4번째부터 8번째까지 */

ul li:nth-last-child(-n+3) {border-radius: 5px;}
/* last에서 부터 3rd 까지*/

/* --------------------------------------------------- */

dt:nth-child(1) {background-color: #ccc;}
/* dl :nth-child(3n) {background-color: #fcd;} */
/* dl은 큰박스 */
/* dt:nth-child(5) {background-color: #acd;} */
/* nth-child는 그냥 순서대로  */
dt:nth-of-type(2) {font-weight:bold; color: #f00;}
dt:nth-of-type(3) {font-weight:bold; color: #500;}

/* dd:first-of-type {}
dd:last-of-type {}
dd:nth-last-of-type(n) {} */










