// headBox.scss
/* headBox.css */
$headH:66; 
$headH2:88;
$imgPath:'../../multi/img/';

$logoBlack: #{$imgPath}+'stylenanda_black.png';
$logoWhite: #{$imgPath}+'stylenanda_white.png';
$instagram: #{$imgPath}+'instagram.png';
$faceBook: #{$imgPath}+'facebook.png';
$kakaoTalk: #{$imgPath}+'kakao_talk.png';
$youtube: #{$imgPath}+'youtube.png';
$main: #{$imgPath}+'juyeon.png';
// -----------------------------
#headBox{
  position: fixed; z-index: 1000; top: 0; left: 0; right: 0; 
  display:flex; justify-content: space-between;
  width: 100%; height: $headH+px;
  background-color: $color_white_01;
  box-shadow: 0 0 10px 0 rgba(73, 73, 73, 0.5);

  @include mobile { height: $headH+px;}
  @include tablet { height: 110px;}
  @include laptop { height: 88px;}
  @include pc { height: 88px;}
  @include pcfull { height: 88px;}

  @at-root h1{
    position: relative; z-index: 200;
    width: 68px; height: 52px;

    @include mobile{
      width: 68px; height: 52px;
        @at-root .head_area { padding: 7px 15px; box-sizing: border-box;}
        position: absolute; left: 0; right: 0; top: 7px; margin: auto; 
    } // moblie320
    @include tablet{
      width: 126px; height: 94px;
        @at-root .head_area { padding :1px; box-sizing: border-box;}
        position: absolute; left: 0; right: 0; top: 7px; margin: auto; 
    } // tablet 768
    @include laptop{
      width: 200px; height: 88px;
        @at-root .head_area { padding:0; }
        position: absolute; top: 0; left: 0; 
    } // laptop 1024
    @include pc{
      width: 200px; height: 88px;
        @at-root .head_area { width: 100%; height: 100%; }
        position: absolute; top: 0; left: 0; 
    } // pc 1440
    @include pcfull{
      width: 200px; height: 88px;
        @at-root .head_area { width: 100%; height: 100%; }
        position: absolute; top: 0; left: 240px; 
    } // pcfull 1920

// ----------------------------------------------------------------
    & > a {
      @include full('stylenanda_black.png', $size:contain)
      { @include laptop { background-image: url($logoBlack); } }; 
      @include mobile { background-image: url($logoBlack) };
      @include tablet { background-image: url($logoBlack) };
    }// a
  }// h1

  @at-root .navi_area {
    width: 45px; height: 45px;
    float: right; 
    // background-color: $color_gray_02;

    .nav_btn{ 
      position: relative; z-index: 200; top:10px; right: 10px;
      width: 45px; height: 45px; margin: auto; 

      @include mobile { position: absolute; top: 11px; right: 10px;}
      @include tablet { position: absolute; top: 18px; right: 16px; width: 70px; height: 70px;}
      @include laptop { position: absolute; top: 0; right: 0; width: 85px; height: 85px;}    
      & > button { @include full($file:'menu.png', $size:contain); }
      // & > .language { @include full($file: 'language.png', $size:contain);}
// -------------------------------------------------------------------
      @include pc { display: none;}
      @include pcfull { display: none;}     
    }// .nav_btn

    // .navi_inner --------------------------------------------
    @at-root .navi_inner { 
      width: 100%; height: auto;
      & > .navi_part { 
        @include mobile {
          display: none;
          position: absolute; z-index: 100; top: 0; left: 0; right: 0; bottom: 0;
          width: 100%; height: 100vh;
          padding: 20px; padding-top: 85px;
          background-color: $color_black_02;
        }// mobile
        @include tablet {
          display: none;
          position: absolute; z-index: 100; top: 0; left: 0; right: 0; bottom: 0;
          width: 100%; height: 100vh;
          padding: 40px; padding-top: 100px;
          background-color: $color_black_02;
        }// tablet
        @include laptop {
          display: none;
          position: absolute; z-index: 100; top: 0; left: 0; right: 0; bottom: 0;
          width: 100%; height: 100vh;
          padding: 40px; padding-top: 150px;
          background-color: $color_black_02;
        }// laptop
// ----------------------------------------------------------
        & > li { margin-bottom: 12px; text-transform: uppercase; }
        & > li:last-child { margin-bottom: 0;}
        & .nav_title { width: 100%; height: 100%;
          > a { 
            color: $color_white_01; font-size: 40px; font-weight: $font_weight_bold; line-height: 40px; text-decoration: none;
            @include mobile { font-size: 30px; line-height: 30px; }

          }// a
          & > .nav_title:hover { background-color: #171717; color: #fff;}
        }// .nav_title
// ----------------------------------------------------------
        @include pc { display: none;}
        @include pcfull { display: none;}
// ----------------------------------------------------------
        & > .navi_sns {
          display: flex; justify-content: space-between;
          margin-right: 16px;
          width: 220px; height: 45px;
          padding: 2px; box-sizing: border-box; 
          //background-color: #fdd;
          @include mobile {
            position: absolute; z-index: 100; left: 20px; bottom: 40px; 
            width: 300px; height: 66px;
          }// mobile
          @include tablet {
            position: absolute; z-index: 100; left: 40px; bottom: 40px; 
            width: 300px; height: 66px;
          }// tablet
          @include laptop {
            position: absolute; z-index: 100; left: 40px; bottom: 40px;
            width: 300px; height: 66px;
          }// laptop

          & > li { 
            display: flex; justify-content: space-between;
            // background-color: #ddf;
            @include full('kakao_talk.png', $size:contain)
          }
          & > li:nth-child(1) {background-image: url($instagram);}
          & > li:nth-child(2) {background-image: url($faceBook);}
          & > li:nth-child(3) {background-image: url($kakaoTalk);}
          & > li:nth-child(4) {background-image: url($youtube);}        
          
          // -----------------------------
          @include pc { display: none;}
          @include pcfull { display: none;}     
        }// .navi_sns
      }//.navi_part
    }// .navi_inner

// .pc_menu ------------------------------------------
    @at-root .pc_menu { 
      position: absolute; top: 24px; left: 0; right: 0; 
      display: flex; justify-content: space-between;
      width: 900px; height: 40px;
      margin: auto;
      // background-color: #fa0;
// ---------------------------------------------------
      @include mobile { display: none;}
      @include tablet { display: none;}
      @include laptop { display: none;}

      & > li {
        position: relative;
        width: auto; margin-right: 16px; 
        color: $color_black_02; 
        font-size: 25px; font-weight: $font_weight_bolder;
        line-height: 40px;
        text-transform: uppercase;
        & > li:last-child { margin-right: 0;}

// ----------------------------------------------------
      @at-root .nav_title { 
        width: 100%; height: 100%;
        > a { text-decoration: none; }

        @at-root .nav_list { display: none;
          position: absolute;
          width: 100%; height: auto;
          margin-top: 30px;
          color: $color_black_02;
          background-color: $color_white_01;
          & > li { width: 100%; height: 40px; margin-bottom: 10px;
            & > a { 
              display: block; 
              width: 100%; height: 100%;
              font-weight: $font_weight_bold; 
              text-decoration: none;
            &:hover { text-decoration: underline;}
            }// a
            
          }// li
          &:hover .nav_list{
            display: block;
            width: 700px; height: auto;
            background-color: #fff; 
            color: #171717;
          }
          
        }// .nav_list 
      }// .nav_title

      }// li
      > .pc_menu:hover { color: $color_brown_01;}
      > .pc_menu:focus { background-color: $color_brown_01; color: $color_white_01;}
    }// .pc_menu
  }// .navi_area

  

}// headBox