// newBox.scss
/* newBox.css */

// $headH2:88;
$imgPath:'../../multi/img/';

$newIcon1: #{$imgPath}+'new_icon_01.png';
$newIcon2: #{$imgPath}+'new_icon_02.png';
$newIcon3: #{$imgPath}+'new_icon_03.png';
$newIcon4: #{$imgPath}+'new_icon_04.png';
$newIcon5: #{$imgPath}+'new_icon_05.png';

$newInPng: #{$imgPath}+'new_in.png';

// ---------------------------------------------------------------------
#newBox {
  width: 100%; height: auto; 
  margin: auto; 
  //background-color: #d5f;
 // headBox의 display:fixed; 때문에 내려야하는 높이 ==========================
    @include mobile{margin-top: $headH+px;}
    @include tablet{margin-top: 110px;}
    @include laptop{margin-top: $headH2+px;}
    @include pc{margin-top: $headH2+px;}
    @include pcfull{ margin-top: $headH2+px;}
// ---------------------------------------------------------------------
  @at-root .indicator {
    width: 100%; height: auto;
  // -------------------------------------------------------------------
    @at-root .indi_list { // ab
      position: absolute; z-index: 100; left: 50%;
      width: 162px; height: 34px;
      padding: 4px; box-sizing: border-box;
      background-color: $color_gray_03;
      border-radius: 100px;
      transform: translate(-50%, -50%);
      // responsive ========================================================
        @include laptop { top: 768px;}
        @include pc { top: 900px; }
        @include pcfull { top: 1060px;}
      // ---------------------------------------------------------------
      > ul { display: flex; justify-content: space-between;
        > li { 
          width: 26px; height: 26px; 
          background-color: $color_white_01;
          border-radius: 100%;
          list-style: none;
          // &.action { }
        }// li
      }// ul
      > li:first-child { margin-left: 0;}
      // display:none; -----------------------------------------------------
        @include mobile { display: none; }
        @include tablet { display: none; }
    }// .indi_list
    // -----------------------------------------------------------------
    @at-root .mob_list { // ab
      position: absolute; z-index: 100; top: 526px; left: 50%;
      width: 100%; height: auto;
      padding: 6px; box-sizing: border-box;
      //border: 2px solid #555;
      transform: translate((-50%, -50%));
      // responsive ====================================================
      @include tablet { top: 956px; height: 100px; padding: 10px;}
      // ---------------------------------------------------------------
      @at-root .mob_button { 
        display: flex; justify-content: space-between;
        width: 100%; height: auto;
        & > li { 
          display: block;
          width: 54px; height: 54px;
          //background-color: #daf;
          background-size: cover;
          background-repeat: no-repeat;
          // responsive ================================================
          @include mobile {
            &:nth-child(1) { background-image: url($newIcon1);}
            &:nth-child(2) { width: 41px; height: 41px; 
              margin-top: 6px; background-image: url($newIcon2);
              >  button {width: 40px; height: 40px; }
            }
            &:nth-child(3) { width: 28px; background-image: url($newIcon3); }
            &:nth-child(4) { background-image: url($newIcon4);}
            &:nth-child(5) { background-image: url($newIcon5);}
          }
          @include tablet { width: 80px; height: 80px;
            &:nth-child(1) { background-image: url($newIcon1);}
            &:nth-child(2) { width: 66px; height: 66px; margin-top: 8px; background-image: url($newIcon2);}
            &:nth-child(3) { width: 60px; background-image: url($newIcon3); }
            &:nth-child(4) { background-image: url($newIcon4);}
            &:nth-child(5) { background-image: url($newIcon5);}
          } 
          //------------------------------------------------------------
          & > button:hover { background-color: rgba($color_black_01, 0.4);}
         
        }// li
      }// ul
      // display:none; =================================================
      @include laptop {display: none;}
      @include pc {display: none;}
      @include pcfull {display: none;}
    }// .mob_list
    @at-root .mob_search_modal_area {
      display: none;
      position: absolute; z-index: 200; top: 66px; left: 0;
      width: 100%; height: 420px;
      background-color: rgba( $color_black_01, 0.5);
      @include tablet { width: 100%; height: 834px;}
      // ---------------------------------------------------------------
      @at-root .mob_inner {
        display: block;
        width: 308px; height: 160px;
        margin: auto; margin-top: 137px; 
        padding: 4px; box-sizing: border-box;
        //background-color: #f00;
        @at-root .search_close_btn{ 
          display: block;
          float: right;
          width: 30px; height: 30px; 
          background-color: $color_black_01;
          border-radius: 4px;
          background-image: url(../../../multi/img/closeBtn_x.png);
          background-size: cover;
          & > button { width: 100%; height: auto;}
          & > button:hover { border-radius: 100px;}
          // -----------------------------------------------
          &:hover { background-color: $color_peach_01;}
        }
        @at-root form { width: 100%; height: auto;
          @at-root .search_area {
            display: flex; justify-content: space-between;
            width: 301px; height: 44px; 
            margin-top: 28px;
            & > .search_box {
              width: 100%; height: auto;
              > #search_modal {
                width: 246px; height: 44px;
                border-radius: 4px;
                font-size: 16px;}
            }
            @at-root .search_btn { 
              width: 48px; height: 44px; 
              padding: 12px 4px; box-sizing: border-box;
              background-color: $color_black_01;
              border-radius: 4px;
              & > button { 
                width: 100%; height: auto;
                & > span { 
                  font-size: 16px; 
                  color: $color_white_01;}
                }
              // --------------------------------------------
              &:hover { background-color: $color_peach_01;
                > button {width: 100%; height: auto;
                  > span {font-size: 17px; font-weight: 700; color: $color_black_01;}
                }
              }
            }
          } // .search_area 
        }// form
        
      }// .mob_inner
      &.on { display: block;}
    // display:none; =================================================
      @include laptop { display: none;}
      @include pc { display: none;}
      @include pcfull { display: none;}     
    }// .mob_search_modal_area
  }// .indicator
// ---------------------------------------------------------------------
  @at-root .view_area {
    position:relative; z-index: 10;
    width: 100%; height: auto;
    background-color: #def;
    // -----------------------------------------------------------------
    & > .view_inner_wrap {
      width: 100%; height: auto;
      @include full($file: 'new_in.png', $size:cover,  $repeat:no-repeat);
        // responsive ======================================================
        @include mobile { height: 500px;}
        @include tablet { height: 895px;}
        @include laptop { height: 768px;}
        @include pc { height: 900px;}
        @include pcfull { height: 1080px;}
        // ----------------------------------------------------------------
      & > li { 
        width: 100%; height: auto;
        //background-image: url($newInPng);
      }// li
      & > li.action { z-index: 20; display: block;}
    }// .view_inner_wrap
  }// .view_area

}// #newBox