@charset "UTF-8 ";
/* b_01_answer.css */
/* 속성작성요령:
  선택자{
    존재유무/형태 -> display, overflow
    위치 -> position
    크기 -> width -> height -> min-width -> min-height(반응형)
    공간 -> margin -> box-sizing -> padding -> border 
    서체 -> font-style, font-weight, line-height, font-family, font-size .....
    배경처리 -> image, repeat, position, size .....
    기타효과 -> shadow .....
    애니메이션 
  }
 */
/* reset
----------------------------------------------- */

html, body { width: 100%; height: 100%;}

html, body,
h1,h2,h3,h4,h5,h6,
p,pre,address,
ul,ol,li,dl,dt,dd{
  margin: 0; padding: 0;
  font-size: 16px; font-family: arial , 'apple SD' , 'myriad pro' , sans-serif;
  /* font-family = 서체. sans-serif는 고딕을 지칭함. */
  /* 16px = 1rem */
}

ol, ul { list-style: none;}
a { text-decoration: none; color: inherit;}
table, tr, th, td, thead, tbody, tfoot {
  border: 1px solid #333; border-spacing: 0; border-collapse: collapse;
}
em, address { font-style: normal;}
strong, b {font-weight: normal;}
abbr { text-decoration: none;}
button { border: 0; background-color: transparent; cursor: pointer;}

 /* common.css
 ---------------------------------------------- */
 .clearfix:after,
 .clearfix::after {
   content: ""; display: block; clear: both;
 }

 .box_space { margin-bottom: 80px;}

 /* design
 ---------------------------------------------- */

 #wrap {
   width: 1600px; height: auto; min-width: 500px;
   margin: auto;
 }

 #wrap > div { width: 100%; }

/* #headBox
====================================== */
 #headBox { height: 150px; background-color: #ddd; }
 /* margin-top을 쓸수 없다. 왜냐면 #wrap을 끌고 내려온다. */

/* #adViewBox
====================================== */
 #adViewBox { height: 750px; background-color: #aaa;} 

/* #localNavBox
====================================== */
 #localNavBox { 
   height: 250px; background-color: #999;
   margin-bottom: 50px;
}

 /* #popularContentBox
====================================== */
 #popularContentBox {
   height: 600px; background-color: #aaa;
   /* margin-top: 50px; 겹칠 때는 작은 값은 상쇄된다. */
 }

/* #newContentBox
====================================== */
 #newContentBox { height: 900px; 
  background-color: #ddd;
}

/* #recommendeContentBox
====================================== */
 #recommendedContentBox {
   height: 600px;

   background-color: #aaa;
 }

/* #communityBox
====================================== */
 #communityBox {
   height: 800px;

   background-color: #ddd;
 }

/* #miniBox
====================================== */
 #miniBox {
   height: 400px;

   background-color: #aaa;
 }

/* #hfootBox
====================================== */
 #footBox {
   height: 200px;
   background-color: #999;
 }














