*{margin: 0; padding: 0; border: 0;}

/* -------------------------------- */
.wrap {
  position: relative;
  width:800px; height:600px;
  margin:50px auto;
  background-color: #ff00aa;
  /* border-top: 1px solid #f0a; 1*/
}
.q_8 > .modal {
  --width:500px;

  width: var(--width); height:150px;
  background-color:#00aaff;
  /* 방법1 
  margin-top: 225px; 
  margin-left: 150px;
} */

  /* 방법2 */
  position: absolute;
  top: 30%; left: 50%; margin-left: -250px;
}
/* margin-left:calc( var (--width) / -2 ); */

/* ============================= */
.q_9 > .side_indicator {
  position: absolute;
  right: 30px;
  width: 50px; 
  /* height:30px; */
  height: auto;
  background-color: #0af;

  /* 방법1 
  top: 125px;*/
  /* 방법2 */
  top: 50%; margin-top: -175px;
  /* 방법3 */
  /* margin-top: 125px; */
}

.q_9 ul {
  list-style: none;
  width: 100%; height: auto;
  padding-top: 10px; padding-bottom: 10px;
}
.q_9 li{
  width: 30px; height: 30px; 
  margin: 0 auto;
  /* 왜 0을 줬지? */
  margin-bottom: 30px;
  border-radius: 100%;
  text-align: center;
  line-height: 30px;
  background-color: #fff;
}
.q_9 li:last-child { margin-bottom: 0;}

 
/* --------------------------------- */

.q_10 > .side_indicator {
  position: absolute;
  right: 30px; top: 30%;
  width: 50px; height: auto;
  background-color: #0af;
}
.q_10 ul {
  list-style: none;
  width: 100%; height: auto;
  padding:10px; box-sizing: border-box;
}
.q_10 li{
  position: relative;
  width: 30px; height: 30px;
  margin-bottom: 20px;
  text-align: center;
  
  
}
.q_10 li:last-child { margin-bottom: 0;}


.q_10 a {
  display: block;
  width: 100%; height: 100%;
  border-radius: 100%;
  background-color: #fff;
}
.q_10 span {
  display: none;
  position: absolute;
  top: -5px; right: 50px;
  width: 200px; height: 40px;
  color: #fff;
  background-color: #06c;
}

.q_10 a:hover + span { display: block; }

/* =============================== */

.siblings {
  width: 400px; height: 800px;
  margin: auto;
  border: 1px solid #777;
}

.siblings:hover  dt {
  background-color: #ccf;
}
/* sinlings 전체 구역에 마우스를 올리면 #ccf 색으로 반응한다. */

.siblings > dt:hover + dd {
  background-color: #faa;
}
/* dt에 마우스를 올리면 가장 근접한 dd가 #faa 색으로 반응한다. */
/* 인접 형제 선택자로써 바로 뒤에오는 dd만이 반응한다. */

.siblings > dt:hover ~ dd {
  background-color: #afa;
}
/* 형제 선택자로 범위를 지정할 때는 nn ~ nn으로 설정한다. */

 .wrap_inner {
   width: 700px; height: 500px;
   padding: 50px 20px; padding-bottom: 0; 
   box-sizing: border-box;
 }


 /* .title_box {
   position: absolute;
   width: 450px; height: 200px;
   top: 30%; left: 20px;
   background-color: rgba(67, 106, 231, 0.3);
 } */
 
  h1 {
    width: 100%; height: auto;
    margin-bottom: 10px;
    background-color: rgba(67, 106, 231, 0.3);
  }

  p { 
    width: 100%; height: 100%;
  background-color: rgba(67, 106, 231, 0.3);
  }

 .img { 
   bottom: 0;
   width: 250px; height: 400px;
   background-color: #5bb;
  } 
 .img3 { 
   float: right;
   top: 30%;
   right: 20px; 
   width: 250px; height: 500px;
   background-color: #798;
  }

  /* 문제풀이 q_11
  -------------------------------- */
  /* .wrap은 위에 작성 */
  .q_11 { position: relative;}

  .title_box {
    z-index: 300;
    position: absolute;
    top: 30%; left: 20px;
    width: 450px; height: 200px;
    box-sizing: border-box; padding: 10px;
    color: #fff;
    background-color: rgba(150,0,150,0.3);
    /* background-color: hsla(270, 50%,50%,1); */
    /* opacity: 50%; */
    /* opacity는 글씨 자체가 투명해짐 */
  }
  h1 {
    font-size: 1.5rem;
    text-transform: capitalize;
  }
  p {font-size: 1rem;}
  .img2 { 
    position: absolute; bottom: 0; 
    width: 250px;  }

  .img2:nth-child(2){
    right: 250px; z-index: 200;
    height: 400px; background-color: #5bb;}

  /* nth-child(1)이 아닌 이유 : class 순서상 두번째이다. */

  .img2:nth-child(3){
    right: 20px;
    height: 500px; background-color: #798;
  }
  