*{margin: 0; padding: 0; border: 0;}

/* -------------------------------- */
.wrap {
  position: relative;
  width:800px; height:600px;
  margin:50px auto;
  background-color: #ff00aa;
  /* border-top: 1px solid #f0a; 1*/
}
.q_8 > .modal {
  --width:500px;

  width: var(--width); height:150px;
  background-color:#00aaff;
  /* 방법1 
  margin-top: 225px; 
  margin-left: 150px;
} */

  /* 방법2 */
  position: absolute;
  top: 30%; left: 50%; margin-left: -250px;
}
/* margin-left:calc( var (--width) / -2 ); */

/* ============================= */
.q_9 > .side_indicator {
  position: absolute;
  right: 30px;
  width: 50px; 
  /* height:30px; */
  height: auto;
  background-color: #0af;

  /* 방법1 
  top: 125px;*/
  /* 방법2 */
  top: 50%; margin-top: -175px;
  /* 방법3 */
  /* margin-top: 125px; */
}

.q_9 ul {
  list-style: none;
  width: 100%; height: auto;
  padding-top: 10px; padding-bottom: 10px;
}
.q_9 li{
  width: 30px; height: 30px; 
  margin: 0 auto;
  /* 왜 0을 줬지? */
  margin-bottom: 30px;
  border-radius: 100%;
  text-align: center;
  line-height: 30px;
  background-color: #fff;
}
.q_9 li:last-child { margin-bottom: 0;}

 
/* --------------------------------- */

.q_10 > .side_indicator {
  position: absolute;
  right: 30px; top: 30%;
  width: 50px; height: auto;
  background-color: #0af;
}
.q_10 ul {
  list-style: none;
  width: 100%; height: auto;
  padding:10px; box-sizing: border-box;
}
.q_10 li{
  position: relative;
  width: 30px; height: 30px;
  margin-bottom: 20px;
  text-align: center;
  
  
}
.q_10 li:last-child { margin-bottom: 0;}


.q_10 a {
  display: block;
  width: 100%; height: 100%;
  border-radius: 100%;
  background-color: #fff;
}
.q_10 span {
  display: none;
  position: absolute;
  top: -5px; right: 50px;
  width: 200px; height: 40px;
  color: #fff;
  background-color: #06c;
}

.q_10 a:hover + span { display: block; }

/* =============================== */

.siblings {
  width: 400px; height: 800px;
  margin: auto;
  border: 1px solid #777;
}

.siblings:hover  dt {
  background-color: #ccf;
}
/* sinlings 전체 구역에 마우스를 올리면 #ccf 색으로 반응한다. */

.siblings > dt:hover + dd {
  background-color: #faa;
}
/* dt에 마우스를 올리면 가장 근접한 dd가 #faa 색으로 반응한다. */
/* 인접 형제 선택자로써 바로 뒤에오는 dd만이 반응한다. */

.siblings > dt:hover ~ dd {
  background-color: #afa;
}
/* 형제 선택자로 범위를 지정할 때는 nn ~ nn으로 설정한다. */