@charset "UTF-8 ";
/* a_01_test_1440.css */
/* main_common.css */
p { 
  font-weight: 100;
}

/* design
------------------------------------------ */

#wrap {
  width: 1440px; height: auto; min-height: 500px;
  /* background-color: #eee; */
  /* 배경색 설정 다 한다음엔 꼭 배경색 지워주기 */
}

/* headBox
------------------------------------------ */
#headBox {
  width: 100%; height: 100px;
  padding: 20px 170px; box-sizing: border-box;
  background-color: #c4c4c4;
} 
  h1 {
    float: left;
    width: 120px; height: 70px;
    /* margin-left: 170px; margin-top: 20px; */
    background-color: #555;
  }

  .navigation_area {
    float: right;
    /* margin: 20px 170px; */
    box-sizing: border-box;
    width: 510px; height: auto;
  }
  #unb {
    float: right;
    width: 270px; height: 26px;
    margin-bottom: 10px;
    background-color: #555;
  }
  #gnb {
    float: right;
    width: 510px; height: 35px;
    background-color: #555;
  }



/* bannerBox
------------------------------------------ */
#bannerBox {
  width: 100%; height: 600px;
  background-color: #834c33;
}
#title {
  width: 300px; height: 262px;
  margin-top: 176px;
  margin-left: 330px;
  background-color:transparent;
}
.banner {
  width: 245px; height: 54px;
  font-size: 40px;
}
p{ width: 300px; height: 140px;}

#navigation {
  float: left;
  /* margin-top: 387px; margin-left: 330px; */
  width: 220px; height: 51px;
  background-color: #c4c4c4; 
}

a { 
  /* box-sizing: border-box; padding: 10px; */
  text-align: left; font-size: 22px; font-weight: 700;
}

.image {
  float: right;
  margin-top: 100px; 
  margin-right: 330px;
  width: 380px; height: 400px;
  background-color: #c4c4c4;
}



/* menuBox
------------------------------------------ */
#menuBox {
  width: 100%; height: 700px;
  background-color: #fff;
}

/* subAdBox
------------------------------------------ */
#subbannerBox {
  width: 100%; height: 350px;
  background-color: #ffbd55;
}

/* bestBox
------------------------------------------ */
#bestBox {
  width: 100%; height: 700px;
  background-color: #fff;
}

/* galleryBox
------------------------------------------ */
#galleryBox {
  width: 100%; height: 750px;
  background-color: #f7e9d3;
}

/* sponsorBox
------------------------------------------ */
#sponsorBox {
  width: 100%; height: 100px;
  background-color: #777;
}

/* footBox
------------------------------------------ */
#footBox {
  width: 100%; height: 450px;
  background-color: #171717;
}

