@charset "UTF-8 ";
/* a_layout_test_04.css */

/**  
  체크할 사항!
  - [] 로고: 200px x 40px , 글자로 대체
  - [] navigation : 마우스 올리면 (hover) = hilight. (영역을 벗어나면 해제)
  - [] 공지사항 첫번째 클릭(click)시 팝업창 나타남.
  - [] 레이어 팝업창 내에 닫기 버튼을 두어서 클릭 사라짐
  - [] html/css 유효성 검사
  - [] 임시경로는 "#" 으로
  - [] 메인페이지 이름 index.html
*/
/* common.css */
body {
  --color-gray1 : #c4c4c4;
  --color_sample : rgba(20,100,255,0.15);
}
.wrapper {
  width: 800px; 
}
/* IR: image replace */
/* : reset보강 */
.blind_wrap a > span,
.blind_wrap button > span,
.blind {
  display: block; position: absolute; z-index: -1;
  width: 0; height: 0; overflow: hidden;
}
.blind_wrap a {
  display: block; width: 100%; height: 100%;
  background-repeat: no-repeat;
  background-position:50% 50% ;
}
.none {display: none;}
/* 이미지를 쓰기위한 설정 */

/* design
============================= */
#wrap {
  margin: auto;
  width: 1000px; height: 650px;
}
/* headBox--------------------- */
#headBox { 
  float: left;
  width: 200px; height: 100%;
  background-color: #dcc;
}
h1 { 
  width: 100%; height: 40px;
  margin-bottom: 10px;
  background-color: #ed0;
}
h1 a {
  display: block; width: 100%; height: 100%;
  text-align: center; line-height: 40px;
  font-size: 1.2rem;
}
/** line-height는 font의 층간  */

.navigation {
  margin: auto;
  width: 180px; height: 200px;
}
.navigation ul { width: 100%; height: auto; }
.navigation li { width: 100%; height: auto; }
.navigation dl { width: 100%; height: auto; }
.navigation dt {
  width: 100%; height: 40px; 
  padding-bottom: 3px;
  background-color: #fff;
}
.navigation dt:last-child {padding: 0;}
.navigation dt a { 
  display: block; width: 100%; height: auto;
  text-align: center; line-height: 40px;
  /* border: 1px solid #333; */
}
.navigation dt a:hover { color: #fff; background-color: #333;}
.navigation dd { 
  /* display: none; */
  width: 100%; height: auto;
  background-color: #fff;
  height: 0;
  overflow-y: hidden; transition: all 300ms linear;
}
/* transition 애니메이션 움직임 태그 */
.navigation dd a { 
  display: block; width: 100%; height: 30px;
  margin-bottom: 5px;
  background-color: #fff;
  text-indent: 10px; line-height: 30px;
}
.navigation dd a:hover {
  color: #fff; font-weight: 700;
  background-color: #333;
}
/* .navigation dl:hover > dd { display: block;} */
.navigation dl:hover > dd {height: 120px;}
.navigation dl:hover > dt {background-color: #333; color:#fff;}

/* viewBox----------------------*/
#viewBox { 
  float: right;
  height: 350px;
  padding: 10px 50px;
  background-color: #555;
}

.view_area { 
  width: 100%; height: 100%; 
  border: 1px solid #333;
  background-color: #afc;
}

/* 가로형 슬라이드 배너 사용법 */
/* 
.view_wrapper {
  --slide-len:3;
  width: 300%; height: 100%;
  background-color: #fca;
  width: calc(100% / var(--slide-len));
} 
.view_content {
  float:left; width:33.333333%; height: 100%;
  width: calc(100% / var(--slide-len));
} 
*/

/* .view_content { float: left; width: 33.333333%; height: 100%;} */

/* 같은자리에 모여있는 형태로 사용 방법 
  -기준이 되는 요소에 relative,
  -보여줄 요소에 absolute,
  -처음 보여줘야 하는 요소에 z-index를 주어 앞으로 배치
  -이후에 (뒤에) 오는 요소에는 z-index를 앞에 올 요소보다 낮은 값으로 주어 뒤에 배치
  -이외의 나머지는 보이지 않도록 처리
*/

.view_wrapper {
  position: relative;
  width: 100%; height: 100%;
  background-color: #fca;
} 
.view_content { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.view_01 { z-index: 10; background-color: #423cf6aa;}
.view_02 { z-index: 9; background-color: #0a704aaa;}
.view_03 { background-color: #deecc6aa;}


/** 부모인 view_wrapper에 margin-left: -100%; view_01 움직이는 방법 : 왼쪽에 마이너스를 다음 배경색으로 바뀐다. */

/* conBox---------------------- */
#conBox { 
  float: right;
  height: 200px;
  background-color: #777;
}
/* info */
.info_content_area {
  float: left; width: 50%; height: 200px; padding: 10px;
  background-color: #1cf;
}
 .tab_title { width: 100%; height: 30px;}
 .tab_title li { float: left; width: 100px; height: 30px;}
 .tab_title button { 
   width: 100%; height: 100%; background-color: #fff;}
 .tab_title button:hover { background-color: #aaa;
  text-decoration: underline;}
 .tab_title li>.action > button {background-color: #333; color: #fff;
  font-weight: 700;}

 .tab_content { 
   width: 100%; height: 150px; 
   border-top: 1px solid #333; 
   background-color: #aaf;
 }
 .tab_content > div {width: 100%; height: 100%; padding: 5px; background-color: #fff;}

 .notice h3 { width: 100%; height: auto; padding-top: 5px;}
 .notice ul { width: 100%; height: auto; max-height: 120px;}
 .notice li { width: 100%; height: 18px; margin-bottom: 3px; line-height: 18px; color: #777;}
 .notice li:before {content:"+"; color: #f06; margin-right: 3px;}
 .notice a:focus { 
   outline: 0; 
   text-decoration: underline; text-decoration-color: #f06;
   font-weight: 700; color: #333;
  }


 /* .notice a {  } */

/* sub_view */
.sub_view_area {
  float: left; width: 25%; height: 200px;
  background-color: #ccc;
}
/* loation */
.location_link_area {
  float: left; width: 25%; height: 200px;
  background-color: #0aaaef;
}






/* footBox--------------------- */
#footBox { 
  float: right;
  height: 100px;
  /* background-color: #333; */
}
#footBox > h2 {
  float: left;
  width: 150px; height: 100px;
  background-color: #fa0;
}
.info_nav {
  float: left;
  width: 650px; height: 50%;
  background-color: #df0;
}
address {
  float: left;
  width: 650px; height: 50%;
  background-color: #aaf;
}
/* clip : 범위를 지정해서 */
/* clip:rect(상단, 오른쪽, 하단, 왼쪽); */
/* .cilp_t {
  position:absolute;
  clip: rect(18px, 122px,92px,18px);
  width: 200px; height: 200px;
  box-sizing: border-box; padding: 20px;
  background-image: radial-gradient(#66f, #fc5);
}

.insert {
  width: 100px; height: 70px;
  background-color: rgba(255,255,255,0.2);
} */