@charset "UTF-8 ";
/* a_layout_test_01.css */

/* design
=============================*/
#wrap {
  width: 100%; height: 700px;
  background-color: #ddd;
}

.wrapper {
  width: 1200px; margin: auto;
}

/* header
=============================*/
#header{ 
  height: 100px; padding:30px 20px;
  box-sizing: border-box;
  background-color: #add;
}
 h1 {
   float: left;
   width: 200px; height: 40px;
   background-color: #fff;
 }
 #navigation {
   float: right; 
   /* padding: 10px;
   box-sizing: border-box; */
   width: 600px; height: 40px;
   background-color: #fff;
 }
 .gnb { width: 100%; height: 100%;}


  .gnb li {
   float: left; 
   width: 25%; height: 100%;
   background-color: #555;
   padding: 0 5px;
   box-sizing: border-box;
   text-align: center;
   line-height: 40px;
 }

 .gnb a {
   display: block;
   width: 100%; height: 100%;
   background-color: #efefef;
 } 

/* section 
==============================*/
#section{
  height: 300px;
  background-color: #528541;
}

/* section2
==============================*/
#conBox{
  height: 200px;
  background-color: #0dd;
}
/* .section_inner {
  width: 100%; height: 200px;
  background-color: rgba(120, 0, 40, 0.3);
} */
/* 01 */
.gallery { 
  float: left;
  width: 400px; height: 200px;
  padding: 10px 20px; box-sizing: border-box;
  background-color: #eee;}

  .tab_title_area { 
    width: 100%; height: 30px;
    background-color: #555;}


  .tab_title_area ul {
    width: 100%; height: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #333;
  }
  .tab_title_area li {
    float: left;
    width: 100px; height: 100%;
    box-sizing: border-box; padding: 0 5px;
    /* 글자를 감싸는 영역을 넓힌다. */
    text-align: center; line-height: 30px;
    background-color: #fff;
  }

  .tab_title_area li.action {
    border: 1px solid #333;
    border-bottom-color: #fff;
  }
  .tab_title_area button {
    width: 100%; height: 100%;
  }

  .tab_content_area { 
    width: 100%; height: 150px;
    background-color: #f88;}

  .tab_content_area > div.action { display: block;}
    /* box 두개 */
    .tab_detail_01 {
      display: none;
      width: 100%; height: 100%;
      background-color: #77ff74;
    }
    .tab_detail_02 {
      display: none;
      width: 100%; height: 100%;
      background-color: #245377;
    }



/* 02 */
.banner {
  float: left;
  width: 400px; height: 200px;
  background-color: #555;}
/* 03 */
.con_inner_03 {
  float: right;
  width: 400px; height: 200px;
  padding: 20px; box-sizing: border-box;
  background-color: #eee;
}
.con_inner_03 .btn {
  width: 100%; height: 30px;
}
.con_inner_03 button {
  width: 100%; height: 100%;
  background-color: #fd0;
}

.con_inner_03 button:hover {
  font-weight: 700;
  background-color: #fa0;
}
.con_inner_03 button:focus {
  outline: 0;
  border-bottom: 3px solid #f06;
  box-shadow:3px 3px 3px #333;
}
/* x y blur color */

.modal {
  display: none;
  position: fixed; top: 0; left: 0; z-index: 1000;
  width: 100%; height: 100%;
}
.modal.action {display: block;}
.modal_message {
  position: absolute;
  top: 50%; left: 50%; margin-left: -250px; margin-top: -150px;
  /* top: 0; left: 0; bottom: 0; right: 0; margin: auto; */
  /* 뭔말인지 모르겠다 */
  /* fixed 해도 됨 근데 굳이? */
  width: 500px;height: 300px;
  padding: 30px;
  border: 1px solid #333;
  background-color: #fff;
}
.modal_bg {
  width: 100%;height: 100%;
  background-color: rgba(0,0,0,0.5);
}


/* footer
==============================*/
#footer{
  height: 100px;
  padding: 30px;
  box-sizing: border-box;
  /* box-sizing은 밖으로 튀어나가지 않게 하기위해. */
  background-color: #fa0;
}
#footer > h2 { 
  float: left;
  width: 200px; height: 40px;
  background-color: #fff;}
address {
  float: left;
  width: 600px; height: 40px;
  margin-left: 100px;
  background-color: #aaa;
}
.sns {
  float: right;
  width: 200px; height:40px;
  background-color: rgb(217, 219, 72);
}