/* (min-width:480px) and (max-width:767px) design 기준 : 480px */

@media all and (min-width:480px) and (max-width:767px) {
  
   /* #headBox ----------------------------------- */
  #headBox { height: 60px; }
  #headBox > .container { padding: 10px 15px; }
  h1 { float: left; width: 180px; height: 40px;
    background-color: var(--color-deepGn);
  }
  #navigation { float: right; width: 80px; height: auto;}
    .gnb {float: right; width: 40px; height: 34px; background-color: var(--color-deepY);}
    .unb {float: left; width: 30px; height: 34px; background-color: var(--color-white);}

   /* #headBox ----------------------------------- */
  #viewBox { height: 720px; padding-top: 60px; height: 150vw; min-height: 720px;}

   /* #headBox ----------------------------------- */
  #contentBox {  height: 720px; height: 150vw; min-height: 720px;}

   /* #headBox ----------------------------------- */
  #infoBox {  height: 720px; height: 150vw; min-height: 720px;}

   /* #headBox ----------------------------------- */
  #footBox {  height: 60px; }

}